<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
">
    <context:component-scan base-package="dao"/>
    <context:component-scan base-package="secondDao"/>
    <bean id="cut" class="secondDao.Cutpoint"/>
    <bean id="student" class="dao.Student"/>
    <aop:config>
        <!-->配置切点<-->
        <aop:aspect ref="cut">
            <aop:pointcut id="dealfun" expression="execution(* dao.TestDao.getName(..))"/>
            <aop:before method="beforeTest" pointcut-ref="dealfun"/>
            <aop:after method="afterTest" pointcut-ref="dealfun"/>
        </aop:aspect>
        <!-->配置切面引入新功能<-->
        <aop:aspect>
            <aop:declare-parents types-matching="dao.testImpl+" implement-interface="dao.StudentImpl" delegate-ref="student" />
        </aop:aspect>
    </aop:config>

</beans>